[Unit]
Description=Periodic import & publish of Debian packages for distribution %i

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
