[Unit]
Description=Periodic import & publish of Debian packages for distribution %i

[Timer]
# every 15 minutes.
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
